<div class='blog-entry'>
    <div class'title'>
        <h2 style="text-align: center">
        <a href="/blog/page{{entry.blog.key().id()}}/{{entry.key().id()}}" >
            {{entry.title}} 
        </a>
        </h2>
    </div>

    <div class="container">    
        <pre class="prettyprint">
        {{entry.content}}
        </pre>
    </div>
    <div class='label label-info offset10'>
        Added at: {{entry.date}}
    </div>
    <div class='label label-success offset10'>
       From <a href="/blog/page{{entry.blog.key().id()}}">
              {{entry.blog.blog_owner.username}} 
            </a>
    </div>
</div>    
