<article id="{{entry.key().id()}}" class="entry-article">

<div class="democracy">
    <div class="btn-vote_up">
    </div>
    <strong>
        {{entry.votes}} 
    </strong>
    <div class="btn-vote_down">
    </div>
</div>

<div class="blog-entry">
    <div class'title'>
        <h2 style="text-align: center">
        <a href="/blog/page{{entry.blog.key().id()}}/{{entry.key().id()}}" >
            {{entry.title}} 
        </a>
        </h2>
    </div>

    <div class="container">    
        <pre class="prettyprint">
        {{entry.content}}
        </pre>
    </div>
    <div class='label label-info offset10'>
        Added at: {{entry.date.strftime("%b %d, %Y %H: %M")}}
    </div>
    <div class='label label-success offset10'>
       From <a href="/blog/page{{entry.blog.key().id()}}">
              {{entry.blog.blog_owner.username}} 
            </a>
    </div>
</div>    

</article>
