<!DOCTYPE html>

<html>
    <head>

        <title>Cloudy Blog</title>

        {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
        {% endblock %}

    </head>

    <body>
        <a class="btn btn-large offset6" href="/blog">Cloudy Blog</a>

        <div class='login'>
            {% if user %}
                <label class="label label-success pull-right"> 
                Welcome {{user.username}} !
                </label>
                <a class="btn btn btn-primary pull-right" href='/logout'>logout</a>
               
            {% else %}
                <a class="btn btn btn-primary pull-right" href='/login'>login</a> 

                <a class="btn btn-info pull-right" href='/signup'>signup</a>
            {% endif %}
        </div>

        <div id="content">
        {% block content %}
        {% endblock %}
       </div>
    </body>

</html>

