<!DOCTYPE html>

<html>
    <head>

        <title>Cloudy Blog</title>

        {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css" />
        <link sizes="any" rel="icon" type="image/png" href="/stylesheets/cloud.png"/>
        {% endblock %}

    </head>

    <body>
        <div class="hero-unit">

        <h1 class="offset5"> 
            <a class='text-important' href="/blog">Cloudy Blog </a>
        </h1>
        {% block blogid %}
        {% endblock %}

        <div class="login">
            {% if user %}
                <label class="label label-success pull-right"> 
                Welcome {{user.username}} !
                </label>
                <a class="btn btn btn-primary pull-right" href='/logout'>logout</a>
               
            {% else %}
                <a class="btn btn btn-primary pull-right" href='/login'>login</a> 

                <a class="btn btn-info pull-right" href='/signup'>signup</a>
            {% endif %}
        </div>
        </div>

        <div id="content">
        {% block content %}
        {% endblock %}
       </div>
   
       <hr> 

       <footer id='footer' class='modal-footer'>
           <p class=' label label-info'>&copy; Vlad Barosan 2012 &reg;</p>
       </footer>

    </body>

    </html>

