<!DOCTYPE html>

<html>
    <head>
        <title>Cloudy - Login</title>
        <link rel="stylesheet" type="style/css" href="stylesheets/bootstrap.css" />
    </head>

    <body>
        <h2>Login</h2>

        <form method="post">
            <fieldset>  
                <legend>Login yourself</legend>
                <label for='username' class='label'>Username</label>
                <input type='text' id='username' name='username'>
                <br>
                <label for='password' class='label'>Password</label>
                <input type='password' id='password'  name='password'>
                <br>
                <br>

                <div class="text text-error">
                    {{ invalid_data }}
                </div> 
                <div class="form-actions">
                <button class="btn btn-large btn-primary" type="submit">Login</button>
                </div>
            </fieldset>
        </form>
    </body>

</html>
