{% extends "common.html" %}

{% block content %}

        <h2>New post</h2>

        <form method="post">
            <label class="label label-info">
                <div>title</div>
                <input type="text" name="title" value="{{title}}">
            </label>
        
            <label class="label label-info">
                <div>entry</div>
                <textarea rows="10" class="span8" name='content'>{{content}}</textarea>
            </label>
          
            <button class="btn btn-primary" type='submit'>Submit</button>
        </form>    

{% endblock %}
           
