<!DOCTYPE html>
<html>
  <head>
    <title>Cloudy blog</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css" >
    <link sizes="any" rel="icon" type="image/png" href="/stylesheets/cloud.png"/>
  </head>

  <body>

      <div class="hero-unit">
          <h1>Welcome to Cloudy!</h1>
          <p>This is a small blogging platform. </p>
          <p><a href='/blog/' class="btn btn-primary btn-large">Go to main page&raquo;</a></p>
      </div>

      <div class="row">
          <div class="span4">
             <h2>Create a blog</h2>
             <p>Create a new blog and share it with your friends. </p>
             <p><a class="btn" href="/signup">Sign up &raquo;</a></p>
          </div>
          <div class="span4">
              <h2>View others blog</h2>
              <p> View interesting stories and posts of others on their blogs. </p>
              <p><a class="btn" href="/blog">Start blogging &raquo;</a></p>
          </div>
          <div class="span4">
              <h2>Vote up</h2>
              <p>If you see a post that you like, don't hesitate and vote it!</p>
          </div>
      </div>

      <hr>

      <footer id='footer' class='modal-footer'>
        <p class=' label label-info'>&copy; Vlad Barosan 2012 &reg;</p>
      </footer>


      </body>
</html>

