<!DOCTYPE html>
<html>

<head>
    <title> Cloudy Blog</title>
</head>

<body>
    <a href='/blog' > Cloudy Blog</a>
    

    <h2>New post</h2>

        <form method='post'>
            <label>
                <div>subject</div>
                <input type='text' name='subject' value='{{subject}}'>
            </label>
        
            <label>
                <div>entry</div>
                <textarea name='content'>{{content}}</textarea>
            </label>
          
            <input type='submit'>
        </form>    
 </body>

<html>


           
