<!DOCTYPE html>

<html>
    <head>
        <title>Cloudy - Sign Up</title>
        <link rel="stylesheet" type="style/css" href="stylesheets/bootstrap.css"/>
    </head>

    <body>
        <h1>Signup</h1>

        <form method="post">
        <fieldset>
            <legend>Your data</legend>
                <label for='username' class='label label-info'>Username</label>
                <input type='text' id='username' name='username'>
                <br>
                <label for='password' class='label label-info'>Password</label>
                <input type='password' id='password'  name='password'>
                <br>
                <label for='verify' class='label label-info'>Verify Password</label>
                <input type='password' id='verify' name='verify'>
                <br>
                <label for='email' class='label label-info'>E-mail(Only if you want :) )</label>
                <input type='text' id='email' name='email'>
                <br>
                <button class="btn btn-primary" type='submit'>Submit</button>
        </fieldset>
        </form>
    </body>

</html>

