<!DOCTYPE html>

<html>
    <head>
        <title>Cloudy - Sign Up</title>
    </head>

    <body>
        <h1>Signup</h1>

        <form method="post">
        <fieldset>
            <legend>Your data</legend>
                <label for='username' class='label'>Username</label>
                <input type='text' id='username' name='username'>
                <br>
                <label for='password' class='label'>Password</label>
                <input type='password' id='password'  name='password'>
                <br>
                <label for='verify' class='label'>Verify Password</label>
                <input type='password' id='verify' name='verify'>
                <br>
                <label for='email' class='label'>E-mail(Only if you want :) )</label>
                <input type='text' id='email' name='email'>
                <br>
                <input type='submit'>
        </fieldset>
        </form>
    </body>

</html>

